<!DOCTYPE html>
<html lang="en" data-ng-app="TwitterAPP">
<head>
    <title>TwitterSearch</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="stylesheet.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="app.js"></script>
    <script src="server.js"></script>
</head>
<body>
<div class="container" ng-controller="serviceCtrl">
    <div class="row top-buffer">
        <div class="col-lg-12 ">


                <div class="panel-body" data-ng-controller="serviceCtrl">
                    <h1 class="text-center">TWITTER FRIENDS LIST</h1><br>
                    <input placeholder="Enter username" type="text" class="form-control" data-ng-model="screen_name"/>
                    <br>
                    <button class="btn btn-lg btn-success btn-block" data-ng-click="search() ">GET RESULTS</button>
                    <br>
                    <hr>
                    <svg width="1200" height="500"></svg>
                </div>

        </div>
    </div>
</div>
</body>
</html>